@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuizApp</h1>
    <p>A fun and easy-to-use platform for creating and managing quizes.</p>
    <a href="https://github.com/Byte-White/QuizApp">check out github repository.</a>
</div>
